.block-container{
    /* width:90% !important; */
    /* max-width:2000px !important; */
}

.image-container.stImage > img{
    margin:auto;
    width:80%
}

nav{
    /* margin-bottom:40px; */
    font-family: "Segoe UI";
}

.navbar-brand{
    color:white !important;
    font-size:1.1rem;
    font-weight:700;
}

.navbar-brand > img{
    /*vertical-align: inherit;*/
    margin-right:10px;
}

.nav-link{
    color:white !important;
}

.nav-link:hover{
    color:#2f4858 !important;
}

body{
    font-family:"Segoe UI";
}

.stBlock{
    padding-left:30px;
    padding-right:30px;

}

.reportview-container dl, .reportview-container ol, .reportview-container p, .reportview-container ul{
    margin: 0rem 0rem 0rem !important;
}

.reportview-container .markdown-text-container{
    margin-bottom:-0.5rem;
}
.reportview-container .element-container{
    /* margin: 0rem 0rem 0rem !important; */
}

.reportview-container .main .block-container {
    padding: 0rem 0rem 10rem !important;
    /* font-family: "Roboto" !important; */

}


.Widget > div > label > div{
    font-family: "Segoe UI";
} 

.markdown-text-container.stMarkdown{
    font-family: "Segoe UI";

}

.markdown-text-container > p{
    font-family: "Segoe UI";
}
